<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head> 
    <title>CLOVER energy system model for mini-grids and other community-scale energy systems</title>
    <meta name="description" content="The CLOVER energy system model is free and open-source and can be used to simulate 
      and optimise mini-grids, solar home systems and other community-scale energy systems.">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--     <link rel="icon" type="image/x-icon" href="favicon.ico?" /> -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  

  <!-- HEADER -->
  <body>
  <div class="wrapper">
    <header>
      <h1><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
      <link rel="icon" type="image/x-icon" href="favicon.ico" />
      <div style="text-align: center;">
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" style="width: 80%;"  />
        {% endif %}
      </div>

      <p>{{ site.description | default: site.github.project_tagline }}</p>

      <p>{% include navigation.html %}</p>
      
      {% if site.github.is_project_page %}
      <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_url }}</small></a></p>
      {% endif %}

      {% if site.github.is_user_page %}
      <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
      {% endif %}

      {% if site.show_downloads %}
      <ul class="downloads">
        <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://zenodo.org/badge/latestdoi/476703736">Download <strong>Archive</strong></a></li>
        <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
      </ul>
      {% endif %}
      <div id="mc_embed_shell">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
          #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 300px;}
          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="https://clover-energy.us8.list-manage.com/subscribe/post?u=71457331169469f2b7ce903a4&amp;id=56ff9c0a3e&amp;f_id=00e701e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div id="mc_embed_signup_scroll"><h2></h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
          <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
          </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
          <input type="text" name="b_71457331169469f2b7ce903a4_56ff9c0a3e" tabindex="-1" value="">
      </div>
          <div class="optionalParent">
              <div class="clear foot">
                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                  <p class="brandingLogo" style="margin: 0px auto;"><a href="http://eepurl.com/iwm_ng" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="referral badge"></a></p>
              </div>
          </div>
      </div>
    </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=EMAIL;ftypes[0]=merge;,fnames[1]=FNAME;ftypes[1]=merge;,fnames[2]=LNAME;ftypes[2]=merge;,fnames[3]=ADDRESS;ftypes[3]=merge;,fnames[4]=PHONE;ftypes[4]=merge;,fnames[5]=BIRTHDAY;ftypes[5]=merge;false}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>

    
    </header>
    
    <section>
      
    {{ content }}
    <!-- FOOTER  -->
      <div id="footer_wrap" class="outer">
        {% include footer.html %}
      </div>
    </section>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
